.s_dynamic_snippet_tagcloud .dynamic_snippet_template > .row > div.col-3 {
    padding-bottom: 32px !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
}
