.fl-scrolls{bottom:0;height:35px;overflow:auto;position:fixed}.fl-scrolls div{height:1px;overflow:hidden;pointer-events:none}.fl-scrolls div:before{content:"\A0"}.fl-scrolls,.fl-scrolls div{font-size:1px;line-height:0;margin:0;padding:0}.fl-scrolls-hidden{bottom:9999px}.fl-scrolls-hidden div:before{content:"\A0\A0"}.fl-scrolls-viewport{position:relative}.fl-scrolls-body{overflow:auto}.fl-scrolls-viewport .fl-scrolls{left:0;position:absolute}.fl-scrolls-hoverable .fl-scrolls{opacity:0;transition:opacity .5s ease .3s}.fl-scrolls-hoverable:hover .fl-scrolls{opacity:1}

.table-responsive {
    border-top: 5px solid #FFB300;
    height: auto;
    margin-top: 1%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    flex-direction: column;
    z-index: 1;
    background: #fff;
    border-radius: 2px;
}
.card {
    color: #333;
    margin: 3%;
    text-decoration: none;
    border: 1px solid #ccc;
    background: #fafafa;
    -webkit-border-radius: 3px;
    transition: border-color 2s ease, all 0.1s ease;
}
.card:hover {
    color: #00838F;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .14), 0 3px 1px -6px rgba(0, 0, 0, .2), 2px 5px 3px 0 rgba(0, 0, 0, .12);
}
th > i {
    font-size: 27px;
    line-height: 1.2;
}
