<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <template
        id="website_topmenu_social_icons.menu_view"
        inherit_id="website.layout">
        <xpath expr="//ul[@id='top_menu']" position="after">
            <div id="topmenu-social-icons"
                class="text-right" style="height: 2rem;">
                <t t-foreach="['youtube', 'twitter', 'linkedin', 'instagram',
                    'googleplus', 'github', 'facebook']"
                    t-as="item">
                    <a
                        t-if="website['social_' + item]"
                        t-att-href="website['social_' + item]">
                        <i t-attf-class="fa fa-2x fa-{{ item }}"></i>
                    </a>
                </t>
            </div>
        </xpath>
    </template>
</odoo>
