.s_latest_posts[data-vcss="001"] {
    .s_latest_posts_list_box {
        .o_record_cover_container {
            display: none !important;
        }
        .s_latest_posts_post {
            background: $primary none repeat scroll 0 0;
            padding: 0px;
            min-height: 100px;
        }

        .s_latest_posts_list_box_category {
            margin-top: 10px;
            padding: 7px;
            position: absolute;
            text-transform: uppercase;
            background: #000000 none repeat scroll 0 0;
            color: white;
        }
        .s_latest_posts_list_box_link {
            color: white;
            .s_latest_posts_post_title {
                margin-left: 20px;
                margin-top: 55px;
                max-width: 370px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: white;
            }
        }
    }
    .s_latest_posts_square {
        .card {
            height: 100%;
            border: none;
            border-radius: 0;

            .s_latest_posts_post_cover {
                .o_record_cover_container {
                    background-color: transparent !important;
                    padding-bottom: 100%;
                    overflow: hidden;

                    .o_record_cover_image {
                        @extend .card-img-top;
                        position: absolute;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }
                }
            }

            a:hover {
                text-decoration: none;
            }

            h4 {
                font-size: 19px;
                font-weight: 600;
            }

            .card-body {
                padding: 1.25rem 1.25rem 0rem 1.25rem;
            }

            .card-footer {
                background-color: transparent;
                border-top: none;

                .text-muted {
                    color: rgba(52, 58, 64, 0.4) !important;
                }
            }
        }
        @media (max-width: 768px) {
            .card {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
                border: 1px solid rgba(0, 0, 0, 0.125);
                border-radius: 0.5rem;

                .s_events_list_event_cover {
                    margin: 40px 40px 0px 40px;
                    .o_record_cover_container {
                        padding-bottom: 50%;
                    }
                }

                .card-body {
                    padding: 20px 40px 0px 40px;
                }
            }
        }
    }
}
