#div-logo{
	max-height: none;
	background-color: none;
	height: auto;
}
#div-logo img{
	display: block;
	float: none;
}

#div-logo a, #div-logo img{
    margin: 0 auto;
    padding: 0;
}

.navbar-brand {
    height: auto;
    float: none;
}

header a.navbar-brand img{
	display: none;
	max-height: none;
}

header #company-logo{
	display: block;
	max-height: none;
}