@media (min-width: 991px) {
    footer {
        position: relative;
        padding-top: 1rem;
    }

    div#footer-social-icons {
        position: absolute;
        top: 0;
        right: 15%;
    }
}

@media (max-width: 991px) {
    div#footer-social-icons {
        width: 100%;
        text-align: center !important;
        margin-bottom: 16px;
    }
}

div#footer-social-icons a,
div#footer-social-icons a:hover,
div#footer-social-icons a:visited {
    text-decoration: none;
}
