@media (min-width: 769px) {
    footer {
        position: relative;
    }

    div#footer-social-icons {
        position: absolute;
        top: 0;
        right: 15%;
    }
}

@media (max-width: 769px) {
    div#footer-social-icons {
        width: 100%;
        text-align: center !important;
    }
}

div#footer-social-icons a,
div#footer-social-icons a:hover,
div#footer-social-icons a:visited {
    text-decoration: none;
}
