#div-logo{
	max-height: none;
	background-color: none;
	height: auto;
}
#div-logo img{
	display: block;
	float: none;
}

.navbar-brand {
    height: auto;
}

header a.navbar-brand img{
	display: none;
	max-height: none;
}

header #company-logo{
	display: block;
	max-height: none;
}