// Emphasize which app is currently being edited
// and possible positions where to move

$dashboard-blue: rgb(10, 46, 89);
$dashboard-white: #fff;

// Standard blue
$dashboard-card-gradient: linear-gradient(
    0deg,
    rgba(10, 46, 89, 1),
    rgba(47, 77, 115, 1)
);
$dashboard-card-gradient-reverse: linear-gradient(
    180deg,
    rgba(10, 46, 89, 1),
    rgba(47, 77, 115, 1)
);
$dashboard-card-gradient-dimmed: linear-gradient(
    0deg,
    rgba(10, 46, 89, 0.3),
    rgba(47, 77, 115, 0.3)
);
// Light blue
$dashboard-card-create-gradient: linear-gradient(
    0deg,
    rgb(0, 160, 186),
    rgb(153, 217, 227)
);
// Orange linear-gradient(0deg, rgb(242, 108, 63), rgb(245, 145, 111));

$dashboard-card-icon-width: 30px;
$dashboard-card-icon-small-width: 15px;
$dashboard-card-min-height: 167px;
// $dashboard-card-title-color: #fff;
// $dashboard-card-title-hover-color: rgb(10, 46, 89);

#app_dashboard {
    .editing-app .card {
        border: 3px solid #0a2e59;
        transform: scale(1.1);
    }
    .droppable .card {
        cursor: pointer;
    }
    .not-droppable .card {
        opacity: 0.3;
        border: 3px solid #c4c4c4;
        cursor: not-allowed;
    }

    .app-card:nth-child(odd) .card-body {
        background-image: $dashboard-card-gradient;
    }
    .app-card:nth-child(even) .card-body {
        background-image: $dashboard-card-gradient-reverse;
    }

    .card {
        border-radius: 0px;

        .app-icon {
            width: $dashboard-card-icon-width;
        }
        .app-icon-small {
            width: $dashboard-card-icon-small-width;
        }
        .app-btn-hide {
            border-radius: 50px;
            background-color: $dashboard-white;
            color: $dashboard-blue;
            border: none;
            padding: 3px 5px;
            font-size: 0.9rem;
        }

        .app-info {
            cursor: pointer;
            position: absolute;
            top: 5px;
            right: 5px;
        }

        min-height: $dashboard-card-min-height;

        .card-body {
            background-color: none !important;
            border-radius: 0;
            .card-title {
                color: $dashboard-white;
                hyphens: auto;
                max-width: 100%;
                word-break: break-word;
            }
            .app-nofitication {
                display: inline-block;
                font-weight: 500;
                position: absolute;
                bottom: 5px;
                right: 5px;
                background-color: rgb(255, 255, 157);
                color: #000;
                line-height: 0.7;
                text-align: center;
                white-space: nowrap;
                padding: 0.6rem 0.15rem;
                border-radius: 50px;
                font-size: 14px;
            }
        }
        &:hover {
            .card-body {
                background-color: $dashboard-white;
                background-image: none;
                border: 1px solid $dashboard-blue;
                // box-shadow: 18px 18px $dashboard-blue;
                box-shadow: 0 0 18px 0 inset $dashboard-blue;

                .card-title {
                    color: $dashboard-blue;
                }
                .app-btn-hide {
                    background-color: $dashboard-blue;
                    color: $dashboard-white;
                    span .app-icon-small {
                        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(120deg)
                            brightness(102%) contrast(104%);
                    }
                }
            }
        }
        &.create-card {
            .card-body {
                border-radius: 0px;
                background-color: none !important;
                background-image: $dashboard-card-create-gradient;

                .card-title {
                    color: $dashboard-blue;
                }
            }
        }
    }

    &.editing-dashboard {
        .app-hidden {
            .card-body {
                background-image: $dashboard-card-gradient-dimmed;
            }

            .app-btn-hide {
                background-color: rgba(237, 232, 213, 0.7);
            }
        }
    }
    &:not(.editing-dashboard) {
        .app-hidden {
            display: none;
        }
    }
}
