/* Carousel firefox & chrome fix(works on ssafari already) */
.s_carousel .carousel-inner {
    height: auto !important;
}

.s_carousel .carousel-inner .carousel-item {
    height: 100vh !important;
}

.carousel {
    height: auto !important;
}

.carousel-item {
    min-height: auto !important;
}

.carousel-inner {
    max-height: 100% !important;
}

.o_gallery.o_slideshow > .container {
    height: auto !important;
}
/* carousel fix end */
